<app-route-wrap>
    <div page-card-title>List of requests for the registration from drivers</div>
    <div page-card-subtitle>Home</div>
    <div page-card-content>
        <div class="table-container">
            <div class="table-header-form">
                <form [formGroup]="searchForm">
                    <mat-form-field>
                        <input matInput placeholder="Filter" [formControlName]="'searchString'">
                    </mat-form-field>
                    <button mat-button color="primary" (click)="onFilterClick()" [disabled]="isSearchDisabled">
                        <mat-icon>search</mat-icon>
                        Filter
                    </button>
                </form>
            </div>

            <div *ngIf="drivers.length; then driversTable else emptyList"></div>
            <ng-template #driversTable>
                <div class="scrollable-horizontally">
                    <mat-table #table [dataSource]="drivers" class="table-nonsizing">
                        <ng-container matColumnDef="firstName">
                            <mat-header-cell *matHeaderCellDef>First Name</mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.firstName}}</mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="lastName">
                            <mat-header-cell *matHeaderCellDef>Last Name</mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.lastName}}</mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="email">
                            <mat-header-cell *matHeaderCellDef>Email</mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.email}}</mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="phone">
                            <mat-header-cell *matHeaderCellDef>Phone</mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.number}}</mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="action">
                            <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
                            <mat-cell *matCellDef="let element">
                                <button mat-flat-button color="primary" [routerLink]="['/drivers', element.id]">View
                                </button>
                            </mat-cell>
                        </ng-container>
                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                    </mat-table>
                </div>
            </ng-template>
            <ng-template #emptyList>
                <div class="empty-list">
                    <p class="message">{{searchString.length > 0 ? 'Can’t find request by search query' : 'There are no
                        pending requests'}}</p>
                </div>
            </ng-template>
            <mat-paginator
                    #paginator
                    [length]="totalDrivers"
                    [pageSize]="paginationParameters.LIMIT"
                    [pageIndex]="pageIndex"
                    (page)="onPageChanges($event)"
                    [hidePageSize]="true">
            </mat-paginator>
        </div>
    </div>
</app-route-wrap>