<app-route-wrap [cardView]="false">
    <div page-card-title>Fare management</div>
    <div page-card-button>
        <button type="button" mat-flat-button color="primary" [disabled]="!faresForm.valid" (click)="onSaveClick()">Save changes</button>
    </div>
    <div page-content>
        <mat-card>
            <h3 class="input-text">CANCELLATION FEE</h3>
            <p class="input-text">Enter Cancellation Fee</p>
            <form [formGroup]="faresForm">
                <mat-form-field>
                    <span class="input-text input-item">$</span>
                    <input class="input-text fee-input" [value]="fare?.cancellationFee" matInput [formControlName]="'cancellationFee'">
                    <mat-error *ngIf="faresForm.controls['cancellationFee'].invalid">
                        {{getErrorMessage('cancellationFee')}}
                    </mat-error>
                </mat-form-field>
            </form>
        </mat-card>
    </div>
</app-route-wrap>
