<app-route-wrap [cardView]="false">
    <div page-card-title>Map</div>
    <div page-card-button>
        <button type="button" mat-flat-button color="primary" (click)="add()">Add image</button>
    </div>
    <div page-content>
        <mat-card>
            <div class="row">
                <agm-map  class="map" [latitude]="coords.lat" [longitude]="coords.lng" [fitBounds]="true" (mapClick)="add($event)">
                    <agm-marker *ngFor="let pin of pins" [latitude]="pin.location.coordinates[1]" [longitude]="pin.location.coordinates[0]">
                    </agm-marker>
                </agm-map>
            </div>
        </mat-card>
    </div>
</app-route-wrap>
