<div class="page-card">
    <div class="title-wr">
        <div class="left-side">
            <div class="page-card-title">
                <ng-content select="[page-card-title]"></ng-content>
            </div>
            <div class="page-card-subtitle">
                <ng-content select="[page-card-subtitle]"></ng-content>
            </div>
        </div>
        <div class="fill-space"></div>
        <div class="right-side">
            <div class="page-card-button">
                <ng-content select="[page-card-button]"></ng-content>
            </div>
        </div>
    </div>
    <div class="content-wr">
        <div *ngIf="cardView; then cardViewLayout else simpleLayout"></div>
        <ng-template #cardViewLayout>
            <mat-card class="page-card">
                <mat-card-content class="page-card-content">
                    <ng-content select="[page-card-content]"></ng-content>
                </mat-card-content>
            </mat-card>
        </ng-template>
        <ng-template #simpleLayout>
            <ng-content select="[page-content]"></ng-content>
        </ng-template>
    </div>
</div>