<app-route-wrap>
    <div page-card-title>List of riders</div>
    <div page-card-subtitle>Home</div>
    <div page-card-content>
        <div class="table-container">
            <div class="table-header-form">
                <form [formGroup]="searchForm">
                    <mat-form-field>
                        <input matInput placeholder="Filter" [formControlName]="'searchString'">
                    </mat-form-field>
                    <button mat-button color="primary" (click)="onFilterClick()" [disabled]="isSearchDisabled">
                        <mat-icon>search</mat-icon>
                        Filter
                    </button>
                    <mat-form-field>
                        <mat-select placeholder="Preferences" [formControlName]="'riderPreference'" (change)="selectPreference()">
                            <mat-option>All</mat-option>
                            <mat-option *ngFor="let preference of preferences" [value]="preference.value">
                                {{preference.viewValue}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </form>
                <div class="toggler-wr">
                    <mat-button-toggle-group (valueChange)="onSwitcherChange($event)" [value]="isBlocked">
                        <mat-button-toggle [value]="false">Active</mat-button-toggle>
                        <mat-button-toggle [value]="true">Blocked</mat-button-toggle>
                    </mat-button-toggle-group>
                </div>
            </div>

            <div *ngIf="riders.length; then ridersTable else emptyList"></div>
            <ng-template #ridersTable>
                <div class="scrollable-horizontally">
                    <mat-table #table [dataSource]="riders" class="table-nonsizing" matSort (matSortChange)="sortData($event)"
                               matSortDisableClear="true">
                        <ng-container matColumnDef="firstName">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>First Name</mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.firstName}}</mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="lastName">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Last Name</mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.lastName}}</mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="email" >
                            <mat-header-cell *matHeaderCellDef >Email</mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.email}}</mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="number">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Phone</mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.number}}</mat-cell>
                        </ng-container>s
                        <ng-container matColumnDef="action">
                            <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
                            <mat-cell *matCellDef="let element">
                                <button mat-flat-button color="primary" [routerLink]="['/riders', element.id]">View
                                </button>
                            </mat-cell>
                        </ng-container>
                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                    </mat-table>
                </div>
            </ng-template>
            <ng-template #emptyList>
                <div class="empty-list">
                    <p class="message">{{searchString.length > 0 ? 'Can’t find request by search query' : 'There are no
                        pending requests'}}</p>
                </div>
            </ng-template>
            <mat-paginator
                    #paginator
                    [length]="totalRiders"
                    [pageSize]="paginationParameters.LIMIT"
                    [pageIndex]="pageIndex"
                    (page)="onPageChanges($event)"
                    [hidePageSize]="true">
            </mat-paginator>
        </div>
    </div>
</app-route-wrap>
