
.password-change-card {
    display: flex;
    justify-content: center;
    margin: 10px auto;
}

.settings-input {
    display: block;
    margin: 15px auto;
}

.buttons-wrap {
    display: flex;
    justify-content: space-evenly;
    width: 30%;
    margin: auto;
}

.settings-button {
    width: 130px;
    height: 40px;
}
