@import "../../../assets/styles/main";

/*MAIN STYLES*/
.container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.header-toolbar {
    justify-content: flex-end;
}

.is-mobile .header-toolbar {
    position: fixed;
    z-index: 2;
}

.is-mobile .sidenav-container-wr {
    flex: 1 0 auto;
}
