<app-route-wrap [cardView]="false">
    <div page-card-title>Driver account</div>
    <div page-card-subtitle>Home - Driver account</div>
    <div page-card-button><button *ngIf="driver.isVerified" type="button" mat-flat-button color="primary" (click)="onSaveClick()">Save changes</button></div>
    <div page-content>
        <form [formGroup]="driverForm" class="user-info-wr">
            <div class="left-column">
                <mat-card class="info-card">
                    <mat-card-content class="info-card-content">
                        <div class="history-btn-wr" *ngIf="driver.isVerified">
                            <button type="button" mat-flat-button="primary" [routerLink]="['rides']">History</button>
                        </div>
                        <div class="user-avatar">
                            <img [src]="driver.photo || avatarPlaceholder" alt="avatar">
                        </div>
                        <ul class="list-attr-wr">
                            <li class="list-attr">
                                <span class="list-title">First name </span>
                                <span class="user-attr">{{driver.firstName}}</span>
                            </li>
                            <li class="list-attr">
                                <span class="list-title">Last name </span>
                                <span class="user-attr">{{driver.lastName}}</span>
                            </li>
                            <li class="list-attr" *ngIf="false">
                                <span class="list-title">Taxi</span>
                                <span class="user-attr">
                                    <mat-slide-toggle color="primary" [formControlName]="'taxi'"></mat-slide-toggle>
                                </span>
                            </li>
                            <li class="list-attr outline-bottom" *ngIf="driver.isVerified">
                                <span class="list-title">Rating</span>
                                <span class="user-attr">
                                    {{driver.rating}}
                                </span>
                            </li>
                            <li *ngIf="!driver.isVerified">
                                <div class="btn-wrapp w-100">
                                    <button type="button" mat-flat-button="primary" class="w-100 btn-accept"
                                            (click)="onAcceptClick()">Accept driver request
                                    </button>
                                    <button type="button" mat-flat-button="primary" class="w-100 btn-decline"
                                            (click)="onDeclineClick(); $event.preventDefault()">Deny driver request
                                    </button>
                                </div>
                            </li>
                            <li *ngIf="driver.isVerified">
                                <div class="btn-wrapp w-100">
                                    <button *ngIf="driver.state === userStates.ACTIVE"
                                            type="button" mat-flat-button="primary" class="w-100 btn-accept"
                                            (click)="onBlockClick()">Block driver account
                                    </button>
                                    <button *ngIf="driver.state !== userStates.ACTIVE"
                                            type="button" mat-flat-button="primary" class="w-100 btn-accept"
                                            (click)="onUnblockClick()">Unblock driver account
                                    </button>
                                    <button type="button" mat-flat-button="primary" class="w-100 btn-decline"
                                            (click)="onDeleteClick(); $event.preventDefault()">Delete driver account
                                    </button>
                                </div>
                            </li>
                            <li class="list-attr outline-top" *ngIf="driver.isVerified && driver.verifiedDate">
                                <span class="list-title">Admin account accepted</span>
                                <span class="user-attr">
                                    {{driver.verifiedDate | date:'dd MMM y'}} at {{driver.verifiedDate | date:'HH:mm'}}
                                </span>
                            </li>
                        </ul>
                    </mat-card-content>
                </mat-card>
                <mat-card class="info-card">
                    <mat-card-content class="info-card-content">
                        <ul class="list-attr-wr">
                            <li class="list-attr no-border-bottom">
                                <span class="list-title">Smoking</span>
                                <span class="user-attr">
                                    <mat-slide-toggle color="primary" [formControlName]="'smoking'"></mat-slide-toggle>
                                </span>
                            </li>
                            <li class="list-attr no-border-bottom">
                                <span class="list-title">Place for luggage/bulky items</span>
                                <span class="user-attr">
                                    <mat-slide-toggle color="primary"
                                                      [formControlName]="'placeForLuggage'"></mat-slide-toggle>
                                </span>
                            </li>
                            <li class="list-attr no-border-bottom">
                                <span class="list-title">Pets</span>
                                <span class="user-attr">
                                    <mat-slide-toggle color="primary" [formControlName]="'pets'"></mat-slide-toggle>
                                </span>
                            </li>
                            <li class="list-attr no-border-bottom">
                                <span class="list-title">Baby chair</span>
                                <span class="user-attr">
                                    <mat-slide-toggle color="primary" [formControlName]="'babyChair'"></mat-slide-toggle>
                                </span>
                            </li>
                        </ul>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="right-column">
                <mat-card class="info-card">
                    <mat-card-content class="info-card-content">
                        <ul class="list-attr-wr">
                            <li class="list-attr">
                                <span class="list-title">Email </span>
                                <span class="user-attr">{{driver.email}}</span>
                            </li>
                            <li class="list-attr">
                                <span class="list-title">City </span>
                                <span class="user-attr">{{driver.city}}</span>
                            </li>
                            <li class="list-attr">
                                <span class="list-title">Address </span>
                                <span class="user-attr">{{driver.homeAddress}}</span>
                            </li>
                            <li class="list-attr">
                                <span class="list-title">Phone number </span>
                                <span class="user-attr">{{driver.number}}</span>
                            </li>
                            <li class="list-attr">
                                <span class="list-title">Account was created </span>
                                <span class="user-attr">{{driver.createdAt | date:'dd MMM y'}} at {{driver.createdAt | date:'HH:mm'}}</span>
                            </li>
                            <li class="list-attr no-border-bottom">
                                <span class="list-title">Standard</span>
                                <span class="user-attr">
                                    <mat-slide-toggle color="primary" (change)="onStandardChange()"
                                                      [disabled] ="driver.isVerified"
                                                      [formControlName]="'standard'"></mat-slide-toggle>
                                </span>
                            </li>
                            <li class="list-attr no-border-bottom">
                                <span class="list-title">Qualified to drive children</span>
                                <span class="user-attr">
                                    <mat-slide-toggle color="primary" [disabled] ="!driver.standard || driver.isVerified"
                                                      [formControlName]="'canDriveChildren'"></mat-slide-toggle>
                                </span>
                            </li>
                            <li class="list-attr no-border-bottom">
                                <span class="list-title">Qualified to drive passengers that need some assistance</span>
                                <span class="user-attr">
                                    <mat-slide-toggle color="primary" [disabled] ="!driver.standard || driver.isVerified"
                                                      [formControlName]="'needSomeAssistance'"></mat-slide-toggle>
                                </span>
                            </li>
                            <li class="list-attr no-border-bottom">
                                <span class="list-title">Qualified to drive those with advanced medical needs</span>
                                <span class="user-attr">
                                    <mat-slide-toggle color="primary" [disabled] ="driver.standard || driver.isVerified"
                                                      [formControlName]="'drivePassengersWithNeeds'"></mat-slide-toggle>
                                </span>
                            </li>
                            <li class="list-attr no-border-bottom">
                                <span class="list-title">Qualified to drive riders in electric wheelchairs</span>
                                <span class="user-attr">
                                    <mat-slide-toggle color="primary" [disabled] ="driver.standard || driver.isVerified"
                                                      [formControlName]="'electricWheelChair'"></mat-slide-toggle>
                                </span>
                            </li>
                            <li class="list-attr no-border-bottom">
                                <span class="list-title">Qualified to drive riders with folding wheelchairs</span>
                                <span class="user-attr">
                                    <mat-slide-toggle color="primary" [disabled] ="driver.standard || driver.isVerified"
                                                      [formControlName]="'foldingWheelChair'"></mat-slide-toggle>
                                </span>
                            </li>
                        </ul>
                    </mat-card-content>
                </mat-card>
                <mat-card class="info-card">
                    <mat-card-content class="info-card-content">
                        <div class="inputs-group">
                            <div class="row">
                                <mat-form-field class="col-4">
                                    <input matInput
                                           [matDatepicker]="picker"
                                           placeholder="Driver's license expiration date"
                                           [min]="minDate"
                                           [formControlName]="'driversLicenceExpDate'">
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker disabled="false"></mat-datepicker>
                                    <mat-error *ngIf="driverForm.controls['driversLicenceExpDate'].invalid">
                                        {{getErrorMessage('driversLicenceExpDate')}}
                                    </mat-error>
                                </mat-form-field>
                                <mat-form-field class="col-4">
                                    <input matInput
                                           [matDatepicker]="picker2"
                                           placeholder="Paramedic license expiration date"
                                           [min]="minDate"
                                           [formControlName]="'paramedicLicenceExpDate'">
                                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                    <mat-datepicker #picker2 disabled="false"></mat-datepicker>
                                    <mat-error *ngIf="driverForm.controls['paramedicLicenceExpDate'].invalid">
                                        {{getErrorMessage('paramedicLicenceExpDate')}}
                                    </mat-error>
                                </mat-form-field>
                                <mat-form-field class="col-4">
                                    <input matInput
                                           [matDatepicker]="picker3"
                                           placeholder="Vehicle registration expiration date"
                                           [min]="minDate"
                                           [formControlName]="'vehicleRegistrationExpDate'">
                                    <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                                    <mat-datepicker #picker3 disabled="false"></mat-datepicker>
                                    <mat-error *ngIf="driverForm.controls['vehicleRegistrationExpDate'].invalid">
                                        {{getErrorMessage('vehicleRegistrationExpDate')}}
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div *ngIf="driver.isVerified; then isVerifiedPart else notVerifiedPart"></div>
                            <ng-template #isVerifiedPart>
                                <div class="row">
                                    <div class="col-4" *ngIf="driver.driverDetail">
                                        <span class="list-attr-label">Make and model of a car</span>
                                        <span class="list-attr-value">{{driver.driverDetail.model}}</span>
                                    </div>
                                    <div class="col-4" *ngIf="driver.driverDetail">
                                        <span class="list-attr-label">License plate number and state</span>
                                        <span class="list-attr-value">{{driver.driverDetail.licencePlate}}</span>
                                    </div>
                                    <div class="col-4" *ngIf="driver.driverDetail">
                                        <span class="list-attr-label">Number of passanger seats</span>
                                        <span class="list-attr-value">{{driver.driverDetail.numberOfSeats}}</span>
                                    </div>
                                </div>
                            </ng-template>
                            <ng-template #notVerifiedPart>
                                <div class="row">
                                    <mat-form-field class="col-4">
                                        <input matInput
                                               placeholder="Make and model of a car"
                                               [formControlName]="'model'">
                                        <mat-error *ngIf="driverForm.controls['model'].invalid">
                                            {{getErrorMessage('model')}}
                                        </mat-error>
                                    </mat-form-field>
                                    <mat-form-field class="col-4">
                                        <input matInput
                                               placeholder="License plate number and state"
                                               [formControlName]="'licencePlate'">
                                        <mat-error *ngIf="driverForm.controls['licencePlate'].invalid">
                                            {{getErrorMessage('licencePlate')}}
                                        </mat-error>
                                    </mat-form-field>
                                    <mat-form-field class="col-4">
                                        <input matInput
                                               placeholder="Number of passanger seats"
                                               [formControlName]="'numberOfSeats'">
                                        <mat-error *ngIf="driverForm.controls['numberOfSeats'].invalid">
                                            {{getErrorMessage('numberOfSeats')}}
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </ng-template>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </form>
    </div>
</app-route-wrap>
