<app-route-wrap [cardView]="false">
    <div page-card-title>Settings</div>
    <div page-card-subtitle>Home</div>
    <div page-content>
        <mat-card>
            <mat-card-content class="settings-card-content row">
                <div class="settings-field">Payment</div>
                <div class="settings-value">2 Payment methods</div>
                <a [routerLink]="''"><img src="assets/img/blue-arrow-right.png"></a>
            </mat-card-content>
            <mat-card-content class="settings-card-content row">
                <div class="settings-field">Password</div>
                <div class="settings-value">Last changed on {{ admin?.lastPasswordUpdate | date:'longDate' }}</div>
                <a [routerLink]="'password'"><img src="assets/img/blue-arrow-right.png"></a>
            </mat-card-content>
            <button class="btn-logout" type="button" mat-flat-button color="primary" (click)="logout()">LOG OUT</button>
        </mat-card>
    </div>
</app-route-wrap>
